<div class="jumbotron text-center">
    <h1 id="mainTitle">Eat The Burger</h1>
    <p>Create burgers and Devour burgers.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <form class="submit-form  p=2"></form>
            <h2>Enter the burger to create</h2>
            
                <label for="newBurgerText" id="newBurgerLabel">New Burger:</label>
                <input type="text" id="newBurgerText">
                <button type="submit" class="btn btn-success" id="newBurgerButton">Submit</button>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <!-- Undevoured -->
        <div class="col-sm-6">
            <div class="panel panel-default m-2 p-2" id="undevouredPanel">
                <div class="panel-heading " id="leftside"><strong>Choose a Burger to Order</strong></div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="orderButton btn btn-warning" id="orderButton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span>Select </button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <!-- Devoured -->
        <div class="col-sm-6">
            <div class="panel panel-default m-2 p-2" id="devouredPanel">
                <div class="panel-heading " id="rightside"><strong>Burgers Ready for Pick Up</strong>
                    
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatButton btn btn-danger" id="eatButton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span>Eat me</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>